development:
  adapter: postgresql
  encoding: utf-8
  database: tcgl-server_development
  pool: 5
  username: postgres
  password:
  host:

test:
  adapter: postgresql
  encoding: utf-8
  database: tcgl-server_test
  pool: 5
  username: postgres
  password:
  host: