/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.margin-top-25 {
    margin-top: 25px;
}

.label-marker {
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    clear: both;
}

#map-canvas {
    height: 400px;
    margin: 0px;
    padding: 0px
}